.sec1area {
  background: url(https://assets.unenvironment.org/styles/article_billboard_image/s3/2020-09/v2osk-1Z2niiBPg5A-unsplash.jpg?VersionId=null&amp;h=541feb1c&amp;itok=bsOEqVFI);
  width: 100%;
  height: 700px;
  margin-right: 100px;
  margin-top: 5px;
  background-size: 100% 45%;
  background-repeat: no-repeat;
}