@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.sec1area {
  background: url(https://assets.unenvironment.org/styles/article_billboard_image/s3/2020-09/v2osk-1Z2niiBPg5A-unsplash.jpg?VersionId=null&amp;h=541feb1c&amp;itok=bsOEqVFI);
  width: 100%;
  height: 700px;
  margin-right: 100px;
  margin-top: 5px;
  background-size: 100% 45%;
  background-repeat: no-repeat;
}

.h1area {
  position: absolute;
  height: 72px;
  left: -22.48%;
  right: -22.48%;
  top: calc(50% - 72px / 2 - 72px);
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 70px;
  line-height: 72px;
  text-align: center;
  color: #ffffff;
}

.p1area {
  position: absolute;
  height: 24px;
  left: 42%;
  right: 25.32%;
  top: calc(55% - 24px / 2 - 9px);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-decoration: underline;
  color: #ffffff;
}

.buttonsmall {
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid white;
  color: white;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-style: bold;
  margin-left: 430px;
  margin-top: 240px;
}

.firstimgarea {
  position: absolute;
  width: 530px;
  height: 400px;
  left: 3%;
  top: 90%;
}

.h2area {
  position: absolute;
  width: 206px;
  height: 40px;
  left: 60%;
  top: 85%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #5b6460;
}

.q1area {
  position: absolute;
  width: 393px;
  height: 72px;
  left: 60%;
  top: 520px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #5b6460;
}

.p2area {
  position: absolute;
  width: 380px;
  height: 182px;
  left: 60%;
  top: 580px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}

/* third section */

.maparea {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 60%;
  top: 860px;
}

.p3area {
  position: absolute;
  width: 400px;
  height: 168px;
  left: 15%;
  top: 890px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 56px;
  color: #5b6460;
}
