.firstcontainer{
  width: 100%;
  height: 700px;
  margin-right: 100px;
  /* margin-top: 2px; */
  background: url(both-ood-iceland-houses.jpg);
  background-size: 100% 45%;
  background-repeat: no-repeat;
}

.firsth1{
  color: aliceblue;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
}

.firstp{
  position: absolute;
  left: 33%;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #fcfcfcdc;
}