@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.firstcontainer {
  width: 100%;
  height: 700px;
  margin-right: 100px;
  margin-top: 5px;
  background: url(both-ood-iceland-houses.jpg);
  background-size: 100% 45%;
  background-repeat: no-repeat;
}

.firsth1 {
  margin-left: 530px;
  color: aliceblue;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.firstp {
  position: absolute;
  left: 50%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #fcfcfcdc;
}

.booknow {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  width: 150px;
  height: 50px;
  top: 390px;
  left: 60px;
  background: #5b6460;
}

.price {
  position: absolute;
  width: 70px;
  height: 50px;
  top: 390px;
  left: 208px;
  background-color: #e9ece0;
  border: none;
}

em {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 10px;
}

.h2o2 {
  position: absolute;
  width: 206px;
  height: 40px;
  left: 60px;
  top: 450px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #5b6460;
}

.po2p {
  position: absolute;
  width: 465px;
  height: 244px;
  left: 70px;
  top: 510px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 30px;
  color: #000000;
}

.secimg {
  position: absolute;
  width: 340px;
  height: 300px;
  left: 580px;
  top: 500px;
}

.po3p {
  position: absolute;
  width: 693px;
  height: 438px;
  left: 70px;
  top: 700px;
  text-decoration: underline;
  color: gray;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.house3 {
  position: absolute;
  width: 270px;
  height: 230px;
  left: 33px;
  top: 870px;
}

.house2 {
  position: absolute;
  width: 270px;
  height: 230px;
  left: 320px;
  top: 870px;
}

.house1 {
  position: absolute;
  width: 270px;
  height: 230px;
  left: 605px;
  top: 870px;
}

.pololo {
  position: absolute;
  width: 310px;
  height: 270px;
  left: 340px;
  top: 1200px;
  font-family: "Roboto", sans-serif;
  background-color: #e9ece0;
  text-align: center;
  justify-content: center;
  font-size: 13px;
}

.po6p {
  text-decoration: underline;
  color: gray;
}

.map {
  position: absolute;
  width: 310px;
  height: 270px;
  left: 33px;
  top: 1200px;
}

.section2 {
  position: absolute;
  left: 130px;
  top: -30px;
}

.facilities {
  position: absolute;
  width: 618px;
  height: 540px;
  left: 163px;
  top: 1440px;
  background: #5b6460;
}

.fac {
  position: absolute;
  left: 210px;
  top: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}

.fridge {
  position: absolute;
  left: 130px;
  top: 180px;
}

.kitchen {
  position: absolute;
  left: 235px;
  top: 180px;
}

.minif {
  position: absolute;
  left: 120px;
  top: 220px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #e9ece0;
  font-size: 12px;
  font-style: normal;
}

.kitchene {
  position: absolute;
  left: 230px;
  top: 220px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #e9ece0;
  font-size: 12px;
  font-style: normal;
}

.pcoffee {
  position: absolute;
  left: 330px;
  top: 220px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #e9ece0;
  font-size: 12px;
  font-style: normal;
}

.coffee {
  position: absolute;
  left: 340px;
  top: 180px;
}

.cup {
  position: absolute;
  left: 470px;
  top: 185px;
}

.electrictea {
  position: absolute;
  left: 450px;
  top: 220px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #e9ece0;
  font-size: 12px;
  font-style: normal;
}

.parking {
  position: absolute;
  left: 115px;
  top: 280px;
}

.car {
  position: absolute;
  left: 125px;
  top: 330px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #e9ece0;
  font-size: 12px;
  font-style: normal;
}

.tree {
  position: absolute;
  left: 230px;
  top: 287px;
}

.forestree {
  position: absolute;
  left: 210px;
  top: 330px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #e9ece0;
  font-size: 12px;
  font-style: normal;
}

.heatingf {
  position: absolute;
  left: 340px;
  top: 283px;
}

.pheating {
  position: absolute;
  left: 335px;
  top: 330px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #e9ece0;
  font-size: 12px;
  font-style: normal;
}

.vtwo {
  position: absolute;
  left: 460px;
  top: 283px;
}

.pvtwo {
  position: absolute;
  left: 475px;
  top: 330px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #e9ece0;
  font-size: 12px;
  font-style: normal;
}

.parking2 {
  position: absolute;
  left: 122px;
  top: 383px;
}

.parksp {
  position: absolute;
  left: 124px;
  top: 410px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #e9ece0;
  font-size: 12px;
  font-style: normal;
}

.shower {
  position: absolute;
  left: 230px;
  top: 373px;
}

.showersp {
  position: absolute;
  left: 230px;
  top: 415px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #e9ece0;
  font-size: 12px;
  font-style: normal;
}

.toilets {
  position: absolute;
  left: 350px;
  top: 370px;
}

.toiletsp {
  position: absolute;
  left: 330px;
  top: 415px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #e9ece0;
  font-size: 12px;
  font-style: normal;
}

.books {
  position: absolute;
  left: 460px;
  top: 380px;
}

.booksp {
  position: absolute;
  left: 450px;
  top: 415px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #e9ece0;
  font-size: 12px;
  font-style: normal;
}

.hohoho {
  position: absolute;
  width: 330px;
  height: 250px;
  top: 1980px;
  left: 163px;
}

.hoho {
  position: absolute;
  width: 330px;
  height: 250px;
  top: 1980px;
  left: 450px;
}

.imgp {
  position: absolute;
  left: 405px;
  top: 2070px;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  color: #e9ece0;
  font-size: 10px;
  font-style: normal;
  background-color: burlywood;
  border-radius: 100px;
}

.imgp:hover {
  background-color: gray;
  text-decoration: underline;
  box-shadow: rgb(255 255 255) 0px 54px 55px, rgb(255 255 255) 0px -12px 30px,
    rgb(255 255 255) 0px 4px 6px, rgb(255 255 255) 0px 12px 13px,
    rgb(255 255 255) 0px -3px 5px;
}

.h3first2 {
  position: absolute;
  left: 20px;
  top: 2230px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 60px;
  color: #5b6460;
}

.justp2 {
  position: absolute;
  left: 50px;
  top: 2340px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.addressonly2 {
  position: absolute;
  width: 167px;
  height: 30px;
  left: 50px;
  top: 2400px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  padding: 5px;
}

.twitter2 {
  position: absolute;
  left: 200px;
  top: 2490px;
  background-color: gray;
  border-radius: 30px;
  padding: 1px;
}

.twitter2:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(24, 23, 23) 0px -3px 5px;
}

.facebook2 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 120px;
  top: 2490px;
  background-color: grey;
  background-size: 130%;
  border-radius: 30px;
  padding: 1px;
}

.facebook2:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(24, 23, 23) 0px -3px 5px;
}

.instagram2 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 35px;
  top: 2490px;
  background-color: grey;
  background-size: 100%;
  border-radius: 30px;
  padding: 1px;
}

.instagram2:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(24, 23, 23) 0px -3px 5px;
}

.ioioio {
  position: absolute;
  left: 576px;
  top: 2350px;
}

.booknow2 {
  position: absolute;
  width: 150px;
  height: 50px;
  top: 2430px;
  left: 576px;
  background: #5b6460;
}

.price1 {
  position: absolute;
  width: 70px;
  height: 50px;
  top: 2430px;
  left: 720px;
  background-color: #e9ece0;
  border: none;
}

footer {
  position: absolute;
  width: 1012px;
  height: 300px;
  left: 0px;
  top: 2600px;
  background: #5b6460;
}

.footersp1 {
  position: absolute;
  width: 162px;
  height: 24px;
  left: 470px;
  top: 20px;
  font-family: "Roboto", sans-serif;
  font-style: sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.footersp3 {
  position: absolute;
  width: 162px;
  height: 24px;
  left: 660px;
  top: 20px;
  font-family: "Roboto", sans-serif;
  font-style: sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.footersp4 {
  position: absolute;
  width: 162px;
  height: 24px;
  left: 840px;
  top: 20px;
  font-family: "Roboto", sans-serif;
  font-style: sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.paypal1 {
  position: absolute;
  left: 650px;
  top: 80px;
}

.mastercard1 {
  position: absolute;
  left: 720px;
  top: 80px;
}

.visa1 {
  position: absolute;
  left: 780px;
  top: 80px;
}

.banktransfer1 {
  position: absolute;
  left: 840px;
  top: 80px;
}

.content1 {
  position: absolute;
  left: 70px;
  top: 230px;
  color: white;
}
