@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  margin: 0;
}

.overlay12 {
  background-color: black;
  opacity: 0.7;
  position: absolute;
  z-index: -1.1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.thehuth1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 200px;
  /* text-align: center; */
  margin-left: 400px;
  color: #fff;
}

.thehut1 {
  position: relative;
  width: 100%;
  background-size: cover;
  height: 300px;
  margin-right: 0px;
  top: 0px;
  background-repeat: no-repeat;
  background: url(https://i.pinimg.com/originals/b8/ff/59/b8ff59f93b8b250b6ac07f99938a0200.jpg);
}
