.aboutus{
  width: 100%;
  height: 700px;
  margin-right: 100px;
  margin-top: 5px;
  background: url(mountain2.jpg);
  background-size: 100% 45%;
  background-repeat: no-repeat;
}

.overlay{
  width: 98.4%;
  height: 316px;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  z-index: -1.1;
  top: 87.9px;
  bottom: 0;
  left: 8.5px;
  right: 0;
}

.fortext{
font-family: "Open Sans";
font-style: normal;
font-weight: 300;
font-size: 50px;
line-height: 72px;
margin-left: 400px;
color: #fff;
}

.contactus{
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid white;
  color: rgba(255, 254, 254, 0.89);
  padding: 5px;
  font-family: "DIN";
  font-style: bold;
  margin-left: 400px;
  margin-bottom: 100px;
}

.contactus:hover{
  box-shadow: rgb(255, 255, 255) 0px 54px 55px, rgb(255, 255, 255) 0px -12px 30px, rgb(255, 255, 255) 0px 4px 6px, rgb(255, 255, 255) 0px 12px 13px, rgb(255, 255, 255) 0px -3px 5px;
}

.readfaq{
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid white;
  color: rgba(255, 254, 254, 0.89);
  padding: 5px;
  font-family: "DIN";
  font-style: bold;
  margin-left: 40px;
  margin-bottom: 100px;
}

.readfaq:hover{
  box-shadow: rgb(255, 255, 255) 0px 54px 55px, rgb(255, 255, 255) 0px -12px 30px, rgb(255, 255, 255) 0px 4px 6px, rgb(255, 255, 255) 0px 12px 13px, rgb(255, 255, 255) 0px -3px 5px;
}

.citata{
  position: absolute;
  width: 393px;
  height: 144px;
  top: 450px;
  left: 450px;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  font-family: "Open Sans";
  line-height: 36px;
  color: #5B6460;
}

.imgclass{
  position: absolute;
  top: 470px;
  left: 50px;
}

.text{
  position: absolute;
  height: 214px;
  width: 410px;
  left: 490px;
  top: 610px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 30px;
  color: #525252;
}

.imghome{
  position: absolute;
  top: 900px;
  left: 20px;
}

.imghome:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(24, 23, 23) 0px -3px 5px;;
}

.h2o{
  position: absolute;
  width: 537px;
  height: 112px;
  left: 300px;
  top: 780px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 56px;
  color: #5B6460;
}

.tuman{
  position: relative;
  top: 110px;
  left: 250px;
}

.tuman:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(24, 23, 23) 0px -3px 5px;;
}

.yoyoyo{
  position: absolute;
  top: 1150px;
  left: 20px;
}

.yoyoyo:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(24, 23, 23) 0px -3px 5px;;
}

.newdiv{
  position: absolute;
  width: 230px;
  height: 170px;
  padding: 15px;
  left: 270px;
  top: 1150px;
  background: #E9ECE0;
  opacity: 0.7;
}

.newdiv:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(24, 23, 23) 0px -3px 5px;;
}

.newp{
  position: absolute;
  left:10px;
  top: 5px;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  color: #333333;
}

.lastimg{
  position: absolute;
  top: 1150px;
  left: 550px;
}

.lastimg:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(24, 23, 23) 0px -3px 5px;
}

.h3first{
  position: absolute;
  left: 20px;
  top: 1350px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 60px;
  color: #5B6460;
}

.justp{
  position: absolute;
  left: 50px;
  top: 1450px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.addressonly{
  position: absolute;
  width: 167px;
  height: 30px;
  left: 50px;
  top: 1500px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  padding: 5px;
}

.firstform{
  color: #525252;
}

#fname{
  position: absolute;
  width: 200px;
  height: 30px;
  left: 370px;
  top: 1460px;
  background: #FFFFFF;
  border: 0.7px solid #5B6460;
  box-sizing: border-box;
  font-size: 16px;
}

#lname{
  position: absolute;
  width: 200px;
  height: 30px;
  left: 590px;
  top: 1459.90px;
  background: #FFFFFF;
  border: 0.7px solid #5B6460;
  box-sizing: border-box;
  font-size: 16px;
}

#emaill{
  position: absolute;
  width: 420px;
  height: 30px;
  left: 370px;
  top: 1510px;
  background: #FFFFFF;
  border: 0.7px solid #5B6460;
  box-sizing: border-box;
  font-size: 16px;
}
#subject{
  position: absolute;
  width: 420px;
  height: 30px;
  left: 370px;
  top: 1560px;
  background: #FFFFFF;
  border: 0.7px solid #5B6460;
  box-sizing: border-box;
  font-size: 16px;
}

#message{
  position: absolute;
  width: 420px;
  height: 80px;
  left: 370px;
  top: 1610px;
  background: #FFFFFF;
  border: 0.7px solid #5B6460;
  box-sizing: border-box;
  font-size: 16px;
}

#send{
  position: absolute;
  width: 150px;
  height: 40px;
  left: 640px;
  top: 1710px;
  background: #5B6460;
  color: white;
  padding: 5px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

#send:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(24, 23, 23) 0px -3px 5px;
}

.twitter{
  position: absolute;
  left: 230px;
  top: 1570px;
  background-color: gray;
  border-radius: 30px;
  padding: 1px;
}

.twitter:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(24, 23, 23) 0px -3px 5px;
}

.facebook{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 150px;
  top: 1570px;
  background-color: grey;
  background-size: 130%;
  border-radius: 30px;
  padding: 1px;
}

.facebook:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(24, 23, 23) 0px -3px 5px;
}

.instagram{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 65px;
  top: 1570px;
  background-color: grey;
  background-size: 100%;
  border-radius: 30px;
  padding: 1px;
}

.instagram:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgb(24, 23, 23) 0px -3px 5px;
}

.ok{
  position: absolute;
  height: 48px;
  left: 370px;
  top: 1800px;
  font-family: "Handlee";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #5B6460;
}

.h{
  position: absolute;
  left: 400px;
  top: 1870px;
}

footer{
  position: absolute;
  width: 1012px;
  height: 300px;
  left: 0px;
  top: 2000px;
  background: #5B6460;
}

.footersp{
  position: absolute;
  width: 162px;
  height: 24px;
  left: 560px;
  top: 20px;
  font-family: "DIN";
  font-style: sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footersp2{
  position: absolute;
  width: 162px;
  height: 24px;
  left: 660px;
  top: 20px;
  font-family: "DIN";
  font-style: sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footersp3{
  position: absolute;
  width: 162px;
  height: 24px;
  left: 840px;
  top: 20px;
  font-family: "DIN";
  font-style: sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.paypal{
  position: absolute;
  left: 650px;
  top: 80px;
}

.mastercard{
  position: absolute;
  left: 720px;
  top: 80px;
}

.visa{
  position: absolute;
  left: 780px;
  top: 80px;
}

.banktransfer{
  position: absolute;
  left: 840px;
  top: 80px;
}

.content{
  position: absolute;
  left: 70px;
  top: 230px;
  color: white;

}