@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

/* .accordion {
} */
.accordionItem {
  position: relative;
  margin-bottom: 20px;
}

.accordionItemInput {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.accordionItemTrigger {
  display: block;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  border: 1px solid black;
  font-weight: bold;
}
.accordionItemContent {
  padding: 20px;
  border: 1px solid black;
  border-top: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: none;
  background-color: #e9ece0;
}

.accordionItemInput:checked ~ .accordionItemTrigger {
  background-color: #eee;
}

.accordionItemInput:checked ~ .accordionItemContent {
  display: block;
}

.accordionItemTrigger:before {
  content: "";
  float: right;
  color: gray;
}
.accordionItemTrigger:after {
  content: "";
  margin-left: 100%;
  display: inline-block;
  border: 4px solid transparent;
  border-top: 5px solid gray;
  border-bottom: 0 none;
}
